body {
    background-color: black;
    text-align: center;
}

h1 {
    font-weight: bold;
    font-size: 30px;

    color: yellow;
}
section {
    border-style: solid;
    border-color: yellow;
    border-width: thin;
    border-radius: 2px;
    margin-left: 10%;
    margin-right: 10%;
    min-width: 200px;
}

nav {
    display: flex;
}
section .box1 {
    float: left;
}
section .box2 {
    float: left;
}